<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lukelunix.ntnumple">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //==========================================================================================
        //Splash Screen
        <activity
            android:name=".mainmenu.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //==========================================================================================
        //Main Menu
        <activity
            android:name=".mainmenu.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="lukelunix.ntnumple.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        //==========================================================================================
        //Main menu buttons
        <activity
            android:name=".coursehelp.CoursehelpActivity"
            android:label="@string/activity_name_course_help" />
        <activity
            android:name=".contact.ContactActivity"
            android:label="@string/activity_name_facility_info" />
        <activity
            android:name=".links.LinksActivity"
            android:label="@string/activity_name_tools" />
        //==========================================================================================
        //Course Help Menu
        <activity
            android:name=".coursehelp.classmate.CourseratingActivity"
            android:label="@string/activity_name_courserating" />
        <activity
            android:name=".coursehelp.courses.CoursesActivity"
            android:label="@string/activity_name_courses" />
        <activity
            android:name=".coursehelp.classmate.ClassmateActivity"
            android:label="Classmate" />
        <activity
            android:name=".coursehelp.forum.ForumActivity"
            android:label="@string/activity_name_forum" />
        //==========================================================================================
        //Facility Info Buttons
        <activity
            android:name=".contact.faculties.FacultiesActivity"
            android:label="@string/activity_name_faculty" />
        <activity
            android:name=".contact.libraries.LibrariesActivity"
            android:label="@string/activity_name_library" />
        <activity
            android:name=".contact.orakel.OrakelActivity"
            android:label="@string/activity_name_orakel" />
        <activity
            android:name=".contact.studentservice.StudentserviceActivity"
            android:label="@string/activity_name_studentservice" />
        <activity
            android:name=".contact.akademika.AkademikaActivity"
            android:label="@string/activity_name_akademika" />
        <activity
            android:name=".contact.sit.SiTActivity"
            android:label="@string/activity_name_sit" />
        //==========================================================================================
        //To-do List
        <activity
            android:name=".todolist.TodoListActivity"
            android:label="@string/activity_name_todolist" />
        //==========================================================================================
        //Tools Menu
        <activity
            android:name=".links.roomreservation.RoomreservationActivity"
            android:label="Room Reservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".links.mazemap.MazemapActivity"
            android:label="@string/activity_name_mazemap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".links.kahoot.KahootActivity"
            android:label="@string/activity_name_kahoot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".links.innsida.InnsidaActivity"></activity>
    </application>

</manifest>
