<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lukelunix.ntnumple" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".mainmenu.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainmenu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="lukelunix.ntnumple.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".coursehelp.CourseInfoMenuActivity" >
        </activity>
        <activity android:name=".facilityinfo.FacilityInfoActivity" >
        </activity>
        <activity android:name=".todolist.TodoListActivity" >
        </activity>
        <activity android:name=".tools.ToolsActivity" >
        </activity>
    </application>

</manifest>
